.banner__imagem__ch {
    background: url('../../img/conte-sua-historia/banner.jpg') no-repeat center / cover;
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__imagem__ch {
        height: calc(100vh - 51px);
    }
}
@media screen and (min-width: 768px) {
    .banner__imagem__ch {
        height: calc(100vh - 72px);
    }
}